/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* containers */

.big-container{
  position: relative;
  height:100vh;
  width: 100vw;
  background-color: red;
  font-family: 'Roboto', sans-serif;
}

.container-top{
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(8, 11, 18, 0.5);
  height: 100px;
  width: calc(100vw - 220px);
  z-index: 50;
  display: flex;
  justify-content: flex-end;
}

.container-float::after{
  content: "";
  display: table;
  clear: both;
  width: 100%;
  height: 100%;
}

.container-center{
  padding-top: 100px;
  float: left;
  width: calc(100% - 220px);
  height:calc(100vh - 100px);
  background-color: #141922;
  overflow-y: scroll;
  padding-right: 20px;
  padding-left: 20px;
}

.container-bottom{
  height: 100px;
  background-color: #282828;
  width: 100%;
}

.container-left{
  float: left;
  height: calc(100vh - 100px);
  width: 220px;
  background: black;
  font-size: 14px;
  overflow: hidden;
  z-index: 999;
}

/* hover classes */

.white-hover:hover{
  color: white;
  cursor: pointer;
}

.album.hover{
  background-color: rgba(103, 91, 118, 0.50);
}

.album-hover:hover{
  opacity: 0.5;
  cursor:pointer;
}

/*hover player */

.containerim {
  position: relative;
  width: 50%;
}

.album-hover {
  opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 65%;
}

.containerim:hover .image {
  opacity: 0.3;
}

.containerim:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 60px;
  cursor: pointer;
}

.dot{
  opacity: 0;
  height: 17px;
  width: 17px;
  background-color: white;
  border-radius: 100%;
  position: relative;
  left: 100%;
  top: -6px;
}

.player-progress-bar1 {
  opacity:0;
  height: 100%;
  background-color: green;
  width: 30%;
  border-radius: 10px;
}

.player:hover .dot{
  opacity: 1;
  cursor: pointer;
}

.player:hover .player-progress-bar1{
  opacity: 1;
  cursor: pointer;
}

/* top container */

.upgrade-button {
  background-color: rgba(8, 11, 18, 0.5);
  height: 45px;
  width: 250px;
  border: 1px solid white;
  border-radius: 30px;
  margin-right: 22px;
  margin-top: 25px;
  color: white;
  padding: 13px 32px;
  text-align: center;
  font-size: 14px;
}

.upgrade-button:hover{
  transform: scale(1.1);
  cursor: pointer;
}

/* left container */



.spotify-logo>img{
  height: 40px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.list-elements{
  margin-left: 20px;
  color: #A3A3A3;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;

}

.list-elements>img{
  height: 30px;
}

.list-elements>span{
  margin-left: 5px;
  font-weight: bolder;
}

.playlist>*{
  color: #A3A3A3;
  padding-bottom: 10px;
  margin-left: 20px;
}

.playlist h4:first-child{
  color: white;
}

.fa-plus-square{
  font-size: 40px;
}


.nome-playlist{
  height: 300px;
  overflow-y: auto;
}

.nome-playlist>*{
  padding-bottom: 25px;
}

.playlist hr:nth-child(5){
  background-color: #A3A3A3;
  border: 1px solid #A3A3A3;
  color: #A3A3A3;
  padding-bottom: 0;
  margin-right: 20px;
  margin-top: -10px;
}

.last-side-row{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: space-around;
  margin-top: 20px;
}

.profile{
  height: 30px;
  border-radius: 20px;
  border: 1px solid #A3A3A3;
  background-color: #A3A3A3;
}

.last-side-row h3{
  color: white;
  font-size: 15px;
  padding-left: 10px;
}

/* container left xs */

.container-left-small{
  display: none;
  float: left;
  height: calc(100vh - 100px);
  width: 50px;
  background: black;
  font-size: 14px;
  overflow: hidden;
  z-index: 999;
}

@media screen and (max-width:750px){
  .container-left-small{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }



 .container-left{
   display:none;
 }


 .small-top *{
   display: flex;
   padding-left: 20%;
   height: 30px;
   padding-top: 10px;
 }

 .profile{
   height: 20px;
   border-radius: 60%;
   border: 1px solid #A3A3A3;
   background-color: #A3A3A3;
   margin-left:5px;
 }

 .small-bottom *{
   display: flex;
   height: 30px;
   color: white;
   padding-left: 20%;
 }

 .container-top{
   width: calc(100vw - 50px);

 }

 .container-center{

   width: calc(100% - 50px);

 }
}

/* center container */
.center-top-part{
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-wrap: wrap;
 flex-shrink: 3;
 margin: 20px 0px;
 font-size: 13px;
 color: #64676C;
 padding: 0 10%;
}

.center-top-part>*{
  padding-right: 5%;
  padding-bottom: 5%;
  font-weight: bold;
}

@media screen and (max-width:1000px){
  .big-container h2,h3,h4,span,p{
    font-size: 1.2em;
  }
}

.center-first-row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.albums img{
  height: 200px;
  margin-right: 20px;
}

@media screen and (max-width:1580px){
  .center-first-row{
    justify-content: flex-start;
  }
}

@media screen and (max-width:1140px){
  .center-first-row{
    justify-content: space-around;
  }
}

.albums h3{
  text-align: center;
  color: white;
  margin-top: 5px;
}

#stranger-things{
  margin-top: 45px;
}

.albums h4{
  text-align: center;
  color: #74777C;
  padding-top: 10px;
}

.container-center h2{
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin-top: 10px;
}

.container-center p{
  color: #6F7277;
  margin-top: 10px;
}

.center-second-row{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.center-second-row>.albums{
  margin-right: 15px;
  margin-top: 30px;
}

.center-third-row{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.album-round{
  margin-right: 15px;
  margin-top: 30px;
  border-radius: 100%;
}

/* bottom section */

.container-bottom::after{
  display: table;
  content: "";
  clear: both;
}

.bottom-left{
  width: 18%;
  float: left;
  height: inherit;
}

.bottom-center{
  width: 64%;
  float: left;
  height: inherit;
}

.bottom-right{
  width: 18%;
  float: left;
  height: inherit;
}

#small-preview{
  height: 40px;
}

.bottom-left {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items:center;}


.player{
  display: flex;
  justify-content: center;
  align-content: center;
}

.player span:first-child{
  color: white;
  padding-right: 20px;
  padding-top: 20px;
  font-size: 14px;
}

.player span:last-child{
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 14px;
}

.total-bar {
  height: 5px;
  width: 50%;
  background-color: #5A5A5A;
  border-radius: 10px;
  margin-top: 27px;
}

.player-progress-bar {
  height: 100%;
  background-color: #C1C1C1;
  width: 30%;
  border-radius: 10px;
}


.bottom-center-icons{
  text-align: center;
  font-size:20px;
  color: white;
}

.bottom-center-icons *{
margin-right: 20px;
margin-top: 15px;
}

.bottom-center-icons i:nth-child(3){
  font-size: 35px;
}

/* bottom right */

.bottom-right{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.bottom-right-icons>*{
  font-size: 16px;
  color: white;
  padding-right:20px;
}

.volume-bar {
  height: 4px;
  width: 50%;
  background-color: #5A5A5A;
  border-radius: 10px;
}

.volume-progress-bar {
  height: 100%;
  background-color: #C1C1C1;
  width: 20%;
  border-radius: 10px;
}
